Assembly-CSharp.csproj.user
Assembly-CSharp-firstpass.csproj
com.unity.package-manager-ui.Editor.csproj
Unity.2D.Sprite.Editor.csproj
Unity.2D.Tilemap.Editor.csproj
Unity.CollabProxy.Editor.csproj
Unity.PackageManagerUI.Editor.csproj
Unity.Rider.Editor.csproj
Unity.Timeline.csproj
Unity.Timeline.Editor.csproj
Unity.VSCode.Editor.csproj
UnityEditor.TestRunner.csproj
UnityEditor.UI.csproj
UnityEngine.TestRunner.csproj
UnityEngine.UI.csproj
Thumbs.db
Library
MapsBackup
Temp
obj
Assets/OnlyLocal/*
Assets/Plugins/Editor.meta
.vs
.vsconfig
Logs